<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.palvision.androidpalvisionapilaravel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".secondListView.SecondListViewActivity" />
        <activity android:name=".customer.CustomerInsertActivity" />
        <activity android:name=".customer.CustomerUpdateActivity" />
        <activity android:name=".customer.CustomerRetriveActivity" />
        <activity android:name=".customer.CustomerDeleteActivity" />
        <activity android:name=".product.ProductInsertActivity" />
        <activity android:name=".product.ProductUpdateActivity" />
        <activity android:name=".product.ProductRetriveActivity" />
        <activity android:name=".product.ProductDeleteActivity" />
        <activity android:name=".vender.VendorUpdateActivity" />
        <activity android:name=".vender.VendorInsertActivity" />
        <activity android:name=".vender.VendorRetriveActivity" />
        <activity android:name=".vender.VendorDeleteActivity" />
        <activity android:name=".shop.ShopInsertActivity" />
        <activity android:name=".shop.ShopUpdateActivity" />
        <activity android:name=".shop.ShopRetriveActivity" />
        <activity android:name=".shop.ShopDeleteActivity"></activity>
    </application>

</manifest>